DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=goncharoff_pro_development
DATABASE_USERNAME=goncharoff
DATABASE_PASSWORD=change_me

APP_HOST=localhost:3000
APP_TIME_ZONE=Europe/Moscow

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change_me_before_first_start

